.Products {
  padding: 30px 10px;
}

.Products__wrapper {
  display: grid;
  row-gap: 30px;
}

.Products__filters {
  display: grid;
  row-gap: 10px;
}

.Products__offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1400px) {
  .Products {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .Products__filters {
    column-gap: 10px;
    grid-template-columns: repeat(3, max-content);
  }
}
